body {
	background-color: var(--ri-background);
	background-image:
		linear-gradient(
			rgb(from var(--ri-accent) r g b / 0.025) 2px,
			transparent 2px
		),
		linear-gradient(
			90deg,
			rgb(from var(--ri-accent) r g b / 0.025) 2px,
			transparent 2px
		),
		linear-gradient(
			rgb(from var(--ri-accent) r g b / 0.025) 1px,
			transparent 1px
		),
		linear-gradient(
			90deg,
			rgb(from var(--ri-accent) r g b / 0.025) 1px,
			transparent 1px
		);
	background-attachment: fixed;
	background-size:
		2rem 2rem,
		2rem 2rem,
		1rem 1rem,
		1rem 1rem;
}
article {
	line-break: pre;
	height: 100%;
	justify-content: stretch;
	align-items: space-between;
}
nav > h1 {
	&:first-letter {
		content: '';
	}
}
img {
	width: min(300px, 100%);
	height: auto;
}
.textAlign-center {
	text-align: center;
}
.sticky-top {
	position: sticky;
	top: 0;
	background-color: inherit;
}
#GoTop {
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 1rem;
	animation: --fadeIn;
	animation-timeline: scroll();
}
.ph-bold {
	display: inline-block;
	font-size: 1.5rem;
	translate: 0 20%;
}
@keyframes --fadeIn {
	0%,
	5% {
		pointer-events: none;
		opacity: 0;
	}
	10%,
	100% {
		pointer-events: all;
		opacity: 1;
	}
}
